html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(181, 181, 181);
}

#top {
    text-align: center;
    margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin: 40px auto 0;
  width: fit-content;
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#palette
{
  width: fit-content;
  margin: 0 auto;
}
input[type="color"]
{
  width: 100px;
  height:100px
}
.palette, .colors
{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}
.palette h3
{
  height: fit-content;
  margin: auto 0;
}
.color
{
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  gap: 8px;
  font-size: large;
}
.color p
{
  width: fit-content;
  margin: auto;
}

#colors
{
  display: flex;
  height: fit-content;
  gap: 20px;
  flex-direction: row;
}
#addColor
{
  height: 40%;
  margin: auto 0
}
.removePalette
{
  height: 50px;
  margin: auto 0;
}
