html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: gray;
}

#top {
    text-align: center;
    margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin: 100px 10% 0;
  font-size: 2em;
  text-align: center;
}
#palette
{
  width: fit-content;
  margin: 0 auto;
}
input[type="color"]
{
  width: 100px;
  height:100px
}
.palette, .colors
{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.color
{
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 8px;
}
.color p, h3
{
  width: fit-content;
  
  margin: 5px auto;
}

#colors
{
  display: flex;
  height: fit-content;
  gap: 20px;
  flex-direction: row;
}
#addColor
{
  height: 40%;
  margin: auto 0
}

